<h1><%= t('view.Task list') %></h1>
<p><%= notice %></p>

<table>
  <tr>
    <th><%= t('view.Content') %></th>
    <th><%= t('view.Status') %></th>
    <th><%= t('view.priority') %></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.content %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to t('view.show'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to t('view.new'), new_task_path %>