<%= form_with(model: @task, local: true) do |form| %>

<%# notice表示の実装 %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <%= @task.errors.count %>
      <%=t('view.errors are exist!')%>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="task_content">
    <%= form.label :status %>
    <%= form.select :status, [t('view.untouched'), t('view.working'), t('view.completed')], {include_blank: ''}, class: 'task' %>
  </div>

  <div class="task_content">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]} %>

  </div>

    <div class="task_content">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <%= form.collection_check_boxes(:lavel_ids, Lavel.all, :id, :name) %>

  <%= form.submit %>
<% end %>

<%= link_to t('view.index'), tasks_path %>