<h1><%= t('view.Task details') %></h1>
<p><%= t('view.content') %>: <%= @task.content %></p>
<p><%= t('view.status') %>: <%= @task.status %></p>
<p><%= t('view.priority') %>: <%= @task.priority_i18n %></p>
<p><%= t('view.deadline') %>: <%= @task.deadline %></p>
<p>ラベル：
    <% @lavel.each do |lavel| %>
      <%= lavel.name %>
    <% end %>
</p>

<%= link_to t('view.index'), tasks_path %>