<h1><%= t('view.Task details') %></h1>
<p><%= t('view.content') %>: <%= @task.content %></p>
<p><%= t('view.status') %>: <%= @task.status %></p>
<p><%= t('view.priority') %>: <%= @task.priority %></p>

<%= link_to t('view.index'), tasks_path %>